:root {
  --primary-color: #087e37;
  --secondary-color: #11c559;
  --dark-text-color: #e7e7e7;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f1f1;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

div {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-button {
  position: absolute;
  left: 1rem;
}

.checkbox-wrapper-10 {
  position: absolute;
  right: 1rem;
}

.logo-image {
  margin: 0 auto;
  display: block;
  width: 5rem;
}

/* Banner principal */
.banner {
  width: 100%;
  height: 550px;
  background: url("/assets/img/Cenpecar_jv.jpg") center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Filtro de opacidad para oscurecer la imagen */
}

.form-label {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input-file {
  margin: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 1.2rem;
  display: inline-block;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
}

.content {
  width: 80%;
}

.form {
  margin: 3rem auto;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #eaeaea;
  width: 550px;
  padding: 2rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s ease-out forwards;
}

select,
.submit-button {
  padding: 10px;
  margin: 0.5rem 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  text-align: center;
}

.search-input {
  width: 300px;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
}

.search-input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.filter-container {
  max-width: 370px;
}

.filter-title {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.section-select,
.order-select {
  padding: 0.2rem;
  color: #333;
}

.submit-button {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  margin-top: 1.5rem;
}

.submit-button:hover {
  background-color: var(--secondary-color);
}

.main-container {
  margin-bottom: 8rem;
}

.table-container {
  display: none;
}

.file-counter {
  text-align: center;
  margin-bottom: 10px;
  color: var(--primary-color);
  margin: 0 auto;
  text-align: end;
  padding-right: 0.3rem;
}

.document-table {
  max-height: 255px;
  overflow-y: auto;
  display: block;
  position: relative;
  margin: 0.5rem auto 5rem;
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table a {
  display: flex;
  justify-content: center;
}

.file-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.file-link:hover {
  color: var(--secondary-color);
}

.table tr {
  background-color: #fff;
}

.table tr:hover {
  background-color: #f5f5f5;
}

.file-image {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.file-image:hover {
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Botón de regreso */
.back-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  margin: 0;
}

.back-text {
  position: absolute;
  left: 55px;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.4s ease;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
  pointer-events: none;
}

.back-button:hover .back-text {
  opacity: 1;
  transform: translateX(0);
}

.back-button:hover {
  transform: translateX(-4px);
  box-shadow: 0 1px 10px var(--secondary-color);
}

.back-button::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-left: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  margin-left: 3px;
}

.back-button:hover::before {
  border-color: var(--secondary-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Dark mode button */
.checkbox-wrapper-10 {
  display: flex;
  justify-content: end;
  align-items: center;
}

.text-button {
  color: var(--primary-color);
  font-weight: 600;
}

.checkbox-wrapper-10 .tgl {
  display: none;
}

.checkbox-wrapper-10 .tgl-btn {
  margin-left: 0.6rem;
}

.checkbox-wrapper-10 .tgl,
.checkbox-wrapper-10 .tgl:after,
.checkbox-wrapper-10 .tgl:before,
.checkbox-wrapper-10 .tgl *,
.checkbox-wrapper-10 .tgl *:after,
.checkbox-wrapper-10 .tgl *:before,
.checkbox-wrapper-10 .tgl + .tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-10 .tgl::-moz-selection,
.checkbox-wrapper-10 .tgl:after::-moz-selection,
.checkbox-wrapper-10 .tgl:before::-moz-selection,
.checkbox-wrapper-10 .tgl *::-moz-selection,
.checkbox-wrapper-10 .tgl *:after::-moz-selection,
.checkbox-wrapper-10 .tgl *:before::-moz-selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-10 .tgl::selection,
.checkbox-wrapper-10 .tgl:after::selection,
.checkbox-wrapper-10 .tgl:before::selection,
.checkbox-wrapper-10 .tgl *::selection,
.checkbox-wrapper-10 .tgl *:after::selection,
.checkbox-wrapper-10 .tgl *:before::selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 6rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after,
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  display: none;
}

.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
  margin-bottom: 0;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2rem;
  font-size: 0.9rem;
  color: #fff;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50px;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: var(--primary-color);
  transform: rotateY(-180deg);
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  background: var(--primary-color);
  content: attr(data-tg-off);
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: var(--primary-color);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}

/* Menu de navegación */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.5rem 0.5rem;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar-link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}
.navbar-link:hover {
  color: var(--secondary-color);
}

.navbar-link.active {
  color: var(--secondary-color);
  background-color: #e9ecef;
  font-weight: 700;
  border-radius: 0.5rem;
}
.navbar-separator {
  height: 24px;
  width: 2px;
  background-color: #dee2e6;
  margin: 0 1rem;
}
.navbar-icon {
  margin-right: 0.5rem;
}

.welcome-text {
  margin: 3rem 0;
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
  animation: fadeIn 1s ease-in 0.5s; /* Duración, tipo de animación y retraso */
  animation-fill-mode: forwards; /* Mantener el estado final de la animación */
  visibility: hidden; /* Ocultar el elemento inicialmente */
}

/* Mensaje de alerta */
.alert-message,
.alert-error {
  display: none;
  padding: 20px;
  margin: 0 auto;
  margin-top: 2rem;
  font-weight: bolder;
  color: var(--dark-text-color);
  opacity: 0;
  width: fit-content;
  border-radius: 0.4rem;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.alert-message {
  background-color: var(--secondary-color); /* Verde */
}

.alert-error {
  background-color: #b40c00; /* Rojo */
}

.alert-visible {
  display: block;
  opacity: 1;
}

.alert-success {
  background-color: var(--secondary-color); /* Verde para éxito */
}

.alert-error {
  background-color: #b40c00; /* Rojo para error */
  color: var(--dark-text-color);
}

/* ******** Estilos del modo oscuro  ************* */
body.dark-mode {
  background-color: #1f1f1f;
  color: var(--dark-text-color);
}

body.dark-mode input[type="submit"] {
  background-color: var(--primary-color);
  border: var(--primary-color);
}

body.dark-mode input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

body.dark-mode th {
  background-color: var(--secondary-color);
}

body.dark-mode tr {
  background-color: #333;
}

body.dark-mode tr:hover {
  background-color: #444;
}

body.dark-mode .back-text {
  color: var(--secondary-color);
  font-weight: 600;
}

body.dark-mode .form,
body.dark-mode .navbar {
  background-color: #2b2b2b;
}

body.dark-mode .navbar-link {
  color: var(--dark-text-color);
}

body.dark-mode .navbar-link:hover {
  color: var(--secondary-color);
}

body.dark-mode .navbar-link.active {
  color: var(--secondary-color);
  background-color: #1f1f1f;
}

body.dark-mode .text-button,
body.dark-mode .form-label,
body.dark-mode .filter-title,
body.dark-mode .file-counter,
body.dark-mode .file-link {
  color: var(--dark-text-color);
}

body.dark-mode .file-link:hover {
  color: var(--secondary-color);
}

body.dark-mode .search-input {
  color: #333;
}

body.dark-mode .welcome-text {
  color: var(--dark-text-color);
}

/* Estilo del botón flotante y el tooltip */
.tooltip-container {
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: fit-content;
  z-index: 2;
}

.tooltip-button-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.tooltip-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.tooltip-content {
  visibility: hidden;
  width: 300px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  bottom: 70px;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Mostrar el tooltip al hacer hover sobre el botón */
.tooltip-button:hover + .tooltip-content {
  visibility: visible;
  opacity: 1;
}

/* Animación de deslizamiento */
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
    visibility: visible;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.animated-navbar {
  animation: slide-down 1.5s ease-out 0.6s; /* Duración y tipo de animación */
  animation-fill-mode: forwards; /* Mantener el estado final de la animación */
  visibility: hidden; /* Ocultar el elemento inicialmente */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.animated-banner-text {
  animation: fadeIn 1s ease-in 0.5s; /* Duración, tipo de animación y retraso */
  animation-fill-mode: forwards; /* Mantener el estado final de la animación */
  visibility: hidden; /* Ocultar el elemento inicialmente */
}
